<script type="text/javascript">
    function handleEnableDisable($group) {
        var $input = $group.find('.qty_input');
        var currentValue = parseInt($input.val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        $group.find('.decrement-qty').prop('disabled', minusDisabled);
        $group.find('.increment-qty').prop('disabled', plusDisabled);
    }

    // Initialize all quantity inputs
    $('.qty_input').each(function() {
        var $group = $(this).closest('.input-group');
        handleEnableDisable($group);
    });

    // Handle input change
    $(document).on('change', '.qty_input', function() {
        var $group = $(this).closest('.input-group');
        handleEnableDisable($group);
    });

    // Handle increment button click
    $(document).on('click', '.increment-qty', function(e) {
        e.preventDefault();
        var $group = $(this).closest('.input-group');
        var $input = $group.find('.qty_input');
        var currentValue = parseInt($input.val());
        $input.val(currentValue + 1).change();
    });

    // Handle decrement button click
    $(document).on('click', '.decrement-qty', function(e) {
        e.preventDefault();
        var $group = $(this).closest('.input-group');
        var $input = $group.find('.qty_input');
        var currentValue = parseInt($input.val());
        $input.val(currentValue - 1).change();
    });
</script>
